/*------------------------------------------- Header -------------------------------------------- */

.header .navbar {
    /* background-color: #dc143c; */
    background-color: darkred;
    color: white;
}

.header .logo {
    max-height: 80px;
}

.flip-horizontally {
    transform: scaleX(-1);
}

body {
    /* background-size: cover; */
    background: linear-gradient(
        rgba(255,255,255,0.9),
        rgba(255,255,255,0.9) ) ,
        url('../images/pxfuel.com.jpg');
}

.container {
    position: relative;
}

.main {
    min-height: calc(100vh - 205px);
}

.main .fas,
.main .far {
    color: darkred;
    margin-right: 20px;
}

.fas + a,
.far + a {
    text-decoration: none;
    color: white;
}

.main .fas + a,
.main .far + a {
    text-decoration: none;
    color: darkred;
}

.contacts {
    min-width: 230px;
    margin-right: 50px;
}

img.about {
    max-width: 300px;
}

.footer {
    height: 50px;
    background-color: darkred;
    color: white;
    /* position: absolute;
    bottom: 0;
    padding-top: -40px;
    width: 100%; */
}

p {
    text-align: justify;
}

.cryptedmail:after {
    content: attr(data-name) '@' attr(data-domain) '.' attr(data-tld);
}

.lang {
    font-size: 1rem;
    min-width: 50px;
    position: absolute;
    right: 15px;
    top: 5px;
}

.lang a {
    color: white;
}

.lang a.active {
    font-weight: bold;
    text-decoration: underline;
}

@media screen and (max-width: 991px) {
    .contacts {
        position: absolute;
        font-size: 1rem;
        min-width: 200px;
        top: 30px;
        left: 150px;
        margin-right: 0;
    }
}

@media screen and (max-width: 420px) {
    .contacts {
        position: absolute;
        font-size: 0.75rem;
        min-width: 200px;
        top: 50px;
        right: 10px;
        margin-right: 0;
    }
}
