@font-face {
	font-family: 'Century Gothic';
	src: url('CenturyGothic-Italic.eot');
	src: local('Century Gothic Italic'), local('CenturyGothic-Italic'),
		url('CenturyGothic-Italic.eot?#iefix') format('embedded-opentype'),
		url('CenturyGothic-Italic.woff') format('woff'),
		url('CenturyGothic-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Century Gothic';
	src: url('CenturyGothic.eot');
	src: local('Century Gothic'), local('CenturyGothic'),
		url('CenturyGothic.eot?#iefix') format('embedded-opentype'),
		url('CenturyGothic.woff') format('woff'),
		url('CenturyGothic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Century Gothic';
	src: url('CenturyGothic-Bold.eot');
	src: local('Century Gothic Bold'), local('CenturyGothic-Bold'),
		url('CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
		url('CenturyGothic-Bold.woff') format('woff'),
		url('CenturyGothic-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Century Gothic';
	src: url('CenturyGothic-BoldItalic.eot');
	src: local('Century Gothic Bold Italic'), local('CenturyGothic-BoldItalic'),
		url('CenturyGothic-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('CenturyGothic-BoldItalic.woff') format('woff'),
		url('CenturyGothic-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

.header .navbar {
    background-color: darkred;
    color: white;
}

.header .logo {
    max-height: 80px;
}

.flip-horizontally {
    transform: scaleX(-1);
}

body {
    font-family: 'Century Gothic';
    background: linear-gradient(
        rgba(255,255,255,0.9),
        rgba(255,255,255,0.9) ) ,
        url('../images/pxfuel.com.jpg');
    position: relative;
}

.container {
    position: relative;
}

.main {
    min-height: calc(100vh - 205px);
}

.main .fas,
.main .far {
    color: darkred;
    margin-right: 20px;
}

.fas + a,
.far + a {
    text-decoration: none;
    color: white;
}

.main .fas + a,
.main .far + a {
    text-decoration: none;
    color: darkred;
}

.main-photo {
    border: 4px solid darkred;
    max-height: 465px;
}

.contacts {
    min-width: 260px;
    margin-right: 50px;
}

.contacts .fas, 
.contacts .far {
    margin-right: 10px;
}

.social-item .fab{
    color: darkred;
    margin-right: 25px;
    margin-left: 25px;
}

img.about {
    max-width: 300px;
}

.title {
    font-size: 30px;
    font-weight: 600;
}

.name {
    font-size: 22px;
}

.status,
.record span {
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
}

.record {
    background-color: #f1e1e1;
    padding: 3px 10px;
    max-width: 600px;
    margin-top: 50px;
}

.record a {
    text-decoration: none;
    color: #000;
}

.link,
.link:visited,
.link:hover {
    text-decoration: underline;
    color: darkred;
}

.contact-item {
    padding: 3px 10px;
    margin-top: 20px;
}

.footer {
    height: 50px;
    background-color: darkred;
    color: white;
}

p {
    text-align: justify;
}

.cryptedmail:after {
    content: attr(data-name) '@' attr(data-domain) '.' attr(data-tld);
}

.lang {
    color: white;
    font-size: 14px;
    min-width: 50px;
    position: absolute;
    right: 20px;
    top: 5px;
    z-index: 5;
}

.lang a {
    color: white;
}

.lang a.active {
    font-weight: bold;
    text-decoration: underline;
}

.navbar-toggler {
    position: absolute;
    bottom: 15px;
    right: 10px;
}

@media screen and (max-width: 991px) {
    .contacts {
        position: absolute;
        font-size: 1rem;
        min-width: 200px;
        top: 20px;
        left: 150px;
        margin-right: 0;
    }

    .footer {
        margin-top: 50px;
    }
}

@media screen and (max-width: 420px) {
    .contacts {
        position: absolute;
        font-size: 0.75rem;
        min-width: 200px;
        top: 25px;
        left: 120px;
        margin-right: 0;
    }
}

@media screen and (max-width: 360px) {
    .contacts {
        display: none;
    }
}
